body {
    padding: 0;
    margin: 0;
    height: 400px;
}


header {
    width: 300px;
    height: fit-content;
    margin: 0; 
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}


.greet {
    text-align: center;
}

footer {
    background-color: rgb(79, 102, 204);
    padding: 0;
    text-align: center;
    height: fit-content;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    margin: 0;
    text-align: center;
    padding: 12px 15px 12px 15px;
    background: rgb(79, 102, 204);
    color: white;
    display: block;
    text-decoration: none;
}
.mainMenu>li{
    display: inline-block;
    margin-left: -5px;
}
li:hover>a{
    background: rgba(79, 102, 204, 0.541);
    cursor: pointer;
}
.subMenu{
    position: absolute;
    display: none;
}
.subMenu li{
    border-top: 1px solid rgb(79, 102, 204);
    border-bottom: 1px solid rgb(64, 84, 172);
    position: relative;
}
.mainMenu>li:hover .subMenu{
    display: block;
}
.SuperSubMenu{
    position: absolute;
    top: 0;
    right: 0;
    -ms-transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    transform:translate(100%,0);
    display: none;
}
.subMenu li:hover>.SuperSubMenu{
    display: block;
}